.lenguaje{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin-bottom: 2rem;
}

.lenguaje h1{
    margin-bottom: 1rem;
}

.lenguaje-content{
    /* display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px; */
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-content: space-between;
    height: 90px; 
    gap: 12px;
}

.lenguaje-icon{
    display: flex;
    justify-content: center;
    position: relative;
    height: 80px;
    transition: 0.3s all;
}


.tech-icon{    
    display: flex;
    flex-direction: column;
    background: var(--box);
    padding: 12px;
    border-radius: 10px;
    border: 1.4px solid rgba(255, 255, 255, .1);
    box-shadow: 0 1px 3px #0000001a, 0 1px 2px #0000000f;
    transition: 0.3s all;
    height: 70px;
    width: 70px;
    transition: 0.3s all;
}

.lenguaje-icon img{
    width: 100%;
    height: 40px;
    aspect-ratio: 1/1;
    object-fit: contain;
}


.lenguaje-icon .lenguaje-text{
    display: none;
    justify-content: center;
    align-items: center;
}


.lenguaje-icon span{
    white-space: nowrap;
    font-size: 1rem;
    border-right: 2px solid;
    margin-top: 5px;
}
@keyframes teclear{
    from{
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
@keyframes border{
    50%{
        border-color: transparent;
    }
}

@media screen and (min-width:750px) {
    .tech-icon:hover{
        transform: scale(1.1);
        height: 110px;
        width: 110px;
    }
    .tech-icon:hover img{
        height: 55px;
    }
    .tech-icon:hover .lenguaje-text{
        display: flex;
    }
}

@media screen and (max-width:1112px){
    .lenguaje{
        margin-bottom: 3.1rem;
    }
    .lenguaje-content{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: auto;
        gap: 38px;
        column-gap: 12px;
    }
    .lenguaje-icon{
        padding: 20px;
    }
}

@media screen and (max-width:750px){
    .lenguaje{
        margin-bottom: 1rem;
    }
    .lenguaje-content{
        gap: 12px;
    }
    .lenguaje-icon{
        padding: 0px;
    }
}