.nav-menu{
    display: flex;
    position: sticky;
    top: 0;
    background: var(--bgcl);
    max-width: 1200px;
    margin: auto;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    z-index: 1000;
}

.menu-container{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-height: 90px;
}

.menu-container .profile{
    display: flex;
    align-items: center;
    margin-left:10px;
}
.menu-container .profile .img-profile{
    display: flex;
    justify-content: center;
    max-height: 50px;
    max-width: 50px;
    margin-right: 10px;
}
.menu-container .profile img{
    aspect-ratio: 1/1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.menu-container .profile .info-profile span{
    font-size: 1.15em;
    font-weight: 500;
}
.menu-container .profile .info-profile p{
    font-size: 0.9em;
    font-weight: 500;
    color: var(--grayFont);
}

.menu-container .items-container{
    display: flex;
    justify-content: center;
    grid-column-gap: 1.8rem;
    font-size: 1.1em;
    line-height: 50px;
    height: 100%;
}
.menu-container .items-container .menu-items{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu-container .items-container .menu-items:hover::before{
    width: 100%;
}
.menu-container .items-container .menu-items::before{
    content: '';
    width: 0px;
    height: 2px;
    left: 0;
    position: absolute;
    background: linear-gradient(to right, #ff43ae, #7c61ff);
    bottom: 10px;
    transition: 0.5s;
}

.confi-selector{
    display: flex;
    align-items: center;
    grid-column-gap: 1.4rem;
    margin-right: 10px;
}
.menu-container .confi-selector .bg-mode{
    display: grid;
    place-items: center;
    padding: 8px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    animation: 0.4s;
    transition: 180ms;
    overflow: hidden;
}
.menu-container .confi-selector .bg-mode .icon-moon,.icon-sun{
    transition: 400ms;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.menu-container .confi-selector .bg-mode.dark{
    color: var(--black-white);
    background-color: #fff;
}
.menu-container .confi-selector .bg-mode.light{
    color: var(--black-white);
    background-color:#000;
}
.menu-container .confi-selector .bg-mode .icon-moon.light{
    transform: translateY(-24px) scale(0);
}
.menu-container .confi-selector .bg-mode .icon-sun.dark{
    transform: translateY(24px) scale(0);
}

.select-language{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:  linear-gradient(to right, #ff43ae, #7c61ff);
    padding: 2px;
    border-radius: 10px;
}
.select-language button{
    color: var(--colorFont);
    background: var(--bgcl);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0;
    border-radius: 10px;
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
}
.select-language button svg{
    margin-left: 5px;
    transition: 0.2s;
}
.select-language button.active svg{
    transform: rotate(90deg);
}

.language-list.active{
    opacity: 1;
    visibility: visible;
}
.language-list {
    right: 0;
    position: absolute;
    top: 52px;
    border-radius: 10px;
    color: #cacaca;
    opacity: 0;
    visibility:hidden;
    transition: all 0.1s ease-in-out;
    z-index: 12;
    border: 1px solid #5949ab;
}
.language-list::before{
    content: "";
    bottom: 89.2%;
    right: 10px;
    display: block;
    z-index: 1;
    width: 16px;
    height: 16px;
    border-top: 1px solid #5949ab;
    border-left: 1px solid #5949ab;
    background-color: var(--bgcl);
    position: absolute;
    transform: translate(-50%)rotate(45deg);
}
.language-list li{
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 8px 40px 8px 12px;
    cursor: pointer;
    color: var(--colorFont);
    background-color: var(--bgcl);
    z-index: 3;
}
.language-list li:nth-child(1){
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #5949ab;
}
.language-list li:nth-child(2){
    border-radius: 0 0 10px 10px;
}
.language-list li:hover{
    background: var(--hover);
}

.btn-hamburger{
    display: none;
    color: var(--colorFont);
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 0;
    cursor: pointer;
}

@media screen and (max-width:882px){
    .menu-container .items-container{
        background: var(--violet);
        flex-direction: column;
        position: absolute;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 0;
        opacity: 0;
        top: 100%;
        z-index: 10;
        overflow: hidden;
        transition:0.3s all ease;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
        z-index: 10;
    }
    .menu-container .items-container.slide{
        height: 200px;
        opacity: 1;
    }
    .btn-hamburger{
        display: flex;
    }
}

@media screen and (max-width:600px){
    .banner-content .text-info h1{
        font-size: 1.8rem !important;
    }
    .banner-content .text-info p{
        font-size: 16px;
    }
}

@media screen and (max-width:520px){
    .menu-container .profile .img-profile{
        margin-right: 5px;
        max-height: 40px;
        max-width: 40px;
    }
    .menu-container .profile .info-profile span{
        font-size: 1rem;
    }
    .menu-container .profile .info-profile p{
        font-size: 0.8rem;
    }
    .select-language button{
        padding: 0.2rem 0.4rem;
    }

    .confi-selector{
        grid-column-gap: 0.5rem;
    }
    .menu-container .confi-selector .bg-mode{
        padding: 4px;
    }
    .menu-container .confi-selector .bg-mode .icon-moon, .icon-sun {
        height: 26px;
        width: 26px;
    }
}