
/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); */

@font-face{
    font-family: Nunito;
    src: url('/public/fonts/Nunito-VariableFont_wght.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

.app{
    --colorFont: #000;
    --bgcl: #f3f3f3;
    --grayFont: #4e4e4e;
    --black-white: #fff;
    --box: #fff;
    --violet: #a896e5;
    --purple: #8264f1;
}
.app.dark-mode{
    --bgcl: #141219;
    --colorFont: #fff;
    --grayFont: #cacaca;
    --black-white: #000;
    --violet: #2f2259;
    --purple: #c055ff ;
    --box: #1b1724;
}

.app{
    color: var(--colorFont);
    background-color: var(--bgcl);
    min-height: 100vh;
}

body{
    /* font-family: 'PT Sans', sans-serif; */
    font-family: Nunito, sans-serif;
    font-size: 18px;
    min-height: 100vh;
}

html{
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: var(--white);
}

img{
    max-height: 100%;
}

ul{
    list-style: none;
}

.informacion{
    max-width: 1200px;
    margin: auto;
}

h1, h2, h3, h4{
    text-wrap: balance;
}

p{
    text-wrap: pretty;
}